<!DOCTYPE html>

<html>

<head>
    <title>Good Thymes Virtual Grocery</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/static/layui/css/layui.css">

</head>

<body>

<form class="layui-form" lay-filter="proxy-form-filter" onsubmit="return false;">


    <div class="layui-form-item">
        <label class="layui-form-label">代理</label>
        <div class="layui-input-inline layui-input-wrap">
            <input type="text" name="proxy" lay-verify="required" autocomplete="off"
                   lay-affix="clear" id="proxy"
                   placeholder="请输入http代理"
                   class="layui-input" th:value="${proxy}">
        </div>
    </div>
    <div class="layui-form-item" pane>
        <label class="layui-form-label">代理开关</label>
        <div class="layui-input-block">
            <input type="checkbox" name="open" lay-text="开" checked>

            <br>

        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">下载路径</label>
        <div class="layui-input-inline layui-input-wrap">
            <input type="text" name="downloadPath" lay-verify="required" autocomplete="off"
                   lay-affix="clear" id="downloadPath"

                   class="layui-input" th:value="${downloadPath}">
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-input-block">
            <button type="" class="layui-btn" lay-submit lay-filter="demo1" id='save'>
                立即提交
            </button>

        </div>
    </div>
</form>


<script src="/static/jquery.min.js"></script>
<script src="/static/layui/layui.js"></script>
<script type="text/javascript" th:inline="javascript">
    let open = [[${open}]]
    let proxy = [[${proxy}]]
    let downloadPath = [[${downloadPath}]]
</script>

<script>


    layui.use( function () {
     var   form = layui.form;
       var layer = layui.layer;
        form.render();

    form.val('proxy-form-filter', {
      "proxy": proxy,
      "open": open==1?true:false,
      "downloadPath": downloadPath
    });

    $("#save").click(save)

    function save() {
        var data = form.val('proxy-form-filter');
        data.open = data.open ? 1 : 0;

        $.ajax({
            type: "POST",
            url: "/config",
            contentType: "application/json;charset=utf-8",
            data: JSON.stringify(data),
            success: function (data) {
                if (data) {
                    layer.msg(data, {icon: 1});
                } else {
                    layer.msg(data, {icon: 2});
                }
            }
        });
    }

  });
</script>

</body>

</html>