<!DOCTYPE html>

<html>

<head>
    <title>Good Thymes Virtual Grocery</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/static/layui/css/layui.css">

</head>
<style>
    .frame {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
    }
</style>

<body>

<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo layui-hide-xs layui-bg-black">下载器</div>
    </div>
    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree" lay-filter="test">

                <li class="layui-nav-item"><a href="javascript:;" onclick="setIframe('/download')">下载</a></li>
                <li class="layui-nav-item"><a href="javascript:;" onclick="setIframe('/config')">配置</a></li>
            </ul>
        </div>
    </div>
    <div class="layui-body">
        <iframe id="my-iframe" class="frame" src="/download"></iframe>


    </div>


</div>


<script src="/static/layui/layui.js"></script>

<script>
    var $ = ""
    layui.use(function () {

        $ = layui.jquery


    });

    function autoFrameSize(iframe) {
        var _width = $("#" + iframe).contents().find("body")[0].scrollWidth;
        var _height = $("#" + iframe).contents().find("body")[0].scrollHeight;
        $("#" + iframe).height(_height);
        $("#" + iframe).width(_width);
    }

    function setIframe(src) {
        // 选择 id 为 "my-iframe" 的 iframe 元素
        var iframe = $('#my-iframe');

// 设置 src 属性为新的 URL
        iframe.prop('src', src);
    }


</script>

</body>

</html>